Src_checking.py
*.pdf
.idea
*.xml
*.iml
11812031_assignment1.zip
MRI_classification
Assignment_2_CNN&RNN/Part 1/mlp_numpy.py
Assignment_2_CNN&RNN/Part 1/modules.py
Assignment_2_CNN&RNN/Part 1/train_mlp_numpy.py
Assignment_2_CNN&RNN/Part 1/pytorch_train_mlp0.py
Assignment_2_CNN&RNN/data
Assignment_3_LSTM&GAN/Part 1/Part 1_E.ipynb
Assignment_3_LSTM&GAN/Part 1/lstm_E.py
Assignment_3_LSTM&GAN/Part 1/train_E.py
Assignment_3_LSTM&GAN/Part 2/data
Assignment_3_LSTM&GAN/Part 2/datasets/data
Assignment_3_LSTM&GAN/Part 2/images
face_interpolation/data/img_align_celeba
face_interpolation/data/identity_CelebA.txt
face_interpolation/face_generator.pt
face_interpolation/face_generator1.pt
face_interpolation/face_dis1.pt
face_interpolation/face_dis.pt
project/dataloaders/*.npy
project/run
project/Model